
* {
  box-sizing: border-box;
  font-family:calibri,sarif;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0px;
}

.tab {
  top: 0;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  align-content: center;
  overflow: hidden;
  text-align: center;
  z-index: 900;
}


.tab button {
  box-shadow: 0 0 0.4rem rgba(46, 12, 56, 0.699);
  background-color: rgb(211, 191, 236);
  margin: .5rem;
  border-radius: 4rem;
  border-width: 0rem;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 2rem;
  font-family: 'src-code-pro';
  color: rgb(40, 33, 44);
}


/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 500px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 500px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

.button {
      position: absolute;
	  top: 230px;
	  right: 10px;
	  border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.admindash{
	margin-top:100px;
}
.map
{
	float:right;
	width:50%;
	height:315px;
}


/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}