body{
	height:750px;
	
}
.app-header-base{
	width:100%;
	height:90px;
	position:absolute;
	top:0;
	left:0;
	color:white;
	z-index:7;
	font-family:verdana;
	/*-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);*/
}
.app-header{
	width:100%;
	height:90px;
	position:absolute;
	background: #000000;
	top:0;
	left:0;
	color:white;
	z-index:7;
	font-family:verdana;
	
}

#form1{
	left:750px;
	height:60px;
	width:180px;
	top:20px;
	font-family:verdana;
	font-size:12px;
}
#form2{
	left:940px;
	height:60px;
	width:250px;
	top:20px;
	font-family:verdana;
	font-size:12px;
}
.submit1{
	left:1130px;
	top:35px;
	background: #000000;
	color:white;
	position:absolute;
	z-index:20;
	height:22px;
	width:50px;
	cursor:pointer;
	

	
}
.app-body{
	position:absolute;
	left:0px;
	top:90px;
	width:100%;
	height:645px;
background-color: #fafafa;
	

}
#intro1{
	left:65px;
	top:20px;
	font-family:verdana;
	font-size:20px;
	color:#3E3E3E;;
	height:75px;
	width:500px;
}
#intro2{
	left:750px;
	top:20px;
	font-family:verdana;
	font-size:30px;
	color:#000;
	font-weight:bold;
	height:75px;
	width:500px;
}

#img1
{
	height:100px;
	width:100px;
	padding: 10px;
	margin:-10px;
}
#img2{
	
	width:100px;
	height:80px;
}
#intro3{
	left:750px;
	top:70px;
	font-family:verdana;
	font-size:18px;
	color:#000;
	height:50px;
	width:300px;
}
#form3{
	top:120px;
	left:750px;
	font-family:verdana;
	font-size:20px;
	color:#3E3E3E;;
	width:450px;
	height:495px;
	
}
#namebox{
	width:200px;
	height:40px;
	border-radius:5px 5px 5px 5px;
	background:white;
	padding:10px;
	font-size:18px;
	margin-top:8px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
}
#mailbox{
	width:408px;
	height:40px;
	border-radius:5px 5px 5px 5px;
	background:white;
	padding:10px;
	font-size:18px;
	margin-top:8px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
}
#r-b{
	font-size:12px;
	height:15px;
	width:15px;
}
.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
#intro4{
	font-family:verdana;
	font-size:12px;
	color:gray;
	
}
#intro5{
	font-family:verdana;
	font-size:14px;
	color:gray;
	
}
.app-body-footer{
	width:100%;
	position:absolute;
	left:0px;
	height:80px;
	background:white;
	top:700px;
	
}
#app-body-footer-base{
	width:900px;
	top:15px;
	left:200px;
	color:grey;
	height:60px;
}
.logo {
	
	height:70px;
	width:70px;
	padding: 10px;
	margin:-10px;
  }
  .error{
	color: #FF0000;
	font-size: smaller;
  }
